{% extends 'base.html' %}
{% block content %}
<style>
    input[type=text], input[type=email], input[type=tel], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #047baa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */

form{

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
}
.card-adress{
    background-color: #f2f2f2;
    margin: 1px;
    padding: 20px;
}
.card-adress >.col> i{
    
    padding: 10px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
<div class="container">
    <div class="row card-adress text-center">
        <div class="col"><i class="fa-solid fa-location-dot"></i>
            <p>Addresse <br>
               Boulvard triomphal,
               Libreville,Gabon
            </p>
        </div>
        <div class="col"><i class="fa-solid fa-phone"></i>
            <p>Telephone <br>
                +241 05 04 10 27
            </p>
        </div>
        <div class="col">
            <i class="fa-solid fa-paper-plane"></i>
            <p>Email <br>
                infostotalgabon@gmail.com
            </p>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="fullname"><i class="fa-solid fa-user"></i> Nom </label>
        </div>
        <div class="col-75">
          <input type="text" id="fullname" name="fullname" placeholder="Votre nom complet...">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="phone"><i class="fa-solid fa-phone"></i> Telephone</label>
        </div>
        <div class="col-75">
          <input type="tel" id="phone" name="phone" placeholder="Votre Telephone...">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email"><i class="fa-solid fa-envelope"></i>  Addresse mail</label>
        </div>
        <div class="col-75">
          <input type="email" id="email" name="email" placeholder="Votre email...">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="subject"><i class="fa-thin fa-object-exclude"></i> Object</label>
        </div>
    <div class="col-75">
        <input type="text" id="subject" name="subject" placeholder="Objet de votre mail...">
      </div>
  </div>
      <div class="row">
        <div class="col-25">
          <label for="message">Message</label>
        </div>
        <div class="col-75">
          <textarea id="message" name="message" placeholder="Écrivez quelque chose..." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Envoyer">
      </div>
    </form>
  </div>
{% endblock %}